<!DOCTYPE html>
<html>
  <head>
    <title>Hives</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <section>
    <div class="row justify-content-center">   
        <div class="container col-md-8 col-lg-8">
    <h2 class="page-section-heading text-center text-primary mb-0">Hives</h2>
    <table class="table table-light">
        <thead class="table-primary">
            <th>Name:</th>
            <th>Apiary:</th>
            <th>Type:</th>
            <th>Status:</th>
            <th>Actions:</th>
        </thead>
        {{#each my_hives}}
        <tbody>
            <td>{{this.name}}</td>
            <td>{{this.type}}</td>
            <td>{{this.status}}</td>
            <td>{{this.apiary.name}}</td>
            <td>
              <a href="/hives/{{this.id}}/update_hive" class="btn btn-success">Edit</a>
              <a href="/hives/{{this.id}}/delete_hive" class="btn btn-danger ms-1">Delete</a>
            </td>
        </tbody>
        {{/each}}
    </table>
    <div class="form-floating mb-3">
    <a href="/hives/create_hive" class="text-center text-primary mb-0">Create new hive</a>
    </div>
    <div class="form-floating mb-3">
    <a class="text-center text-primary mb-0" href="./apiaries">Come to the apiaries</a>
    </div>
    </div>
    </div>
    </section>
  </body>
</html>